.content {
  display: grid;
  place-content: center; /* centers horizontally and vertically */
  width: 100vw;
  height: 100vh;
  z-index: 1; /* topmost layer */
  position: relative; /* positioned in the normal document flow with stacking context*/
}

.title {
  font-family: BIZ UDPGothic;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0px 0px 5px black;
}

canvas {
  position: absolute; /* for stacking context */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* bottom layer */
}

body {
  background: #e71b5e; /* fallback bg color */
  margin: 0; /* no default body margins */
  padding: 0; /* no default body padding */
  overflow: hidden; /* prevent scrollbars */
  font-family: BIZ UDPGothic;
}

button {
  color: #011a1a;
  background-color: #4d8683;
  border-color: #011a1a;
  border-style: solid;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 7px;
  font-family: BIZ UDPGothic;
}
button:hover {
  cursor: pointer;
}
.slider-section {
  color: #011a1a;
  background-color: #4d8683;
  border-color: #011a1a;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  font-size: 14px;
}
